.top-bar svg{
    position: absolute;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 0px 120px;
}
.navigation{
    padding: 0px;
    list-style-type: none !important;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    letter-spacing: 3px;
}
.navigation li{
   padding: 0px 20px;
   cursor: pointer;
}
.login-button{
    padding: 10px !important;
    border: 2px solid #000;
    border-radius: 25px ;
    margin-left: 20px;
}
.login-button:hover{
    border:2px solid #000 !important
}
.hamburger{
    display: none;
}
.menu{
    height: 0%;
  }

/* tablet screens */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar{
        margin: 0px 40px;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        font-size: 10px;
    }
    .menu{
        height: 0%;
      }
      .navigation li{
        padding: 0px 5px;
     }
}


/* mobile screens */
@media only screen and  (min-width: 320px) and (max-width: 767px) {
.navbar{
    margin: 0px;
    padding: 10px 20px;
}
.navbar.open{
    /* padding: 0px 20px; */
    background: #F5F8FF;
}
.navbar.open .logo{
    visibility: hidden;
}
.navbar.open .hamburger{
   text-align: right;
}
.hamburger{
    display: block;
}
.navigation{
    display: none;
}
.menu{
    height: 0;
    position: absolute;
    visibility: hidden;  
}
.menu.open{
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    transition: all .5s ease;
    width: 100%;
    visibility: visible;
    background: #F5F8FF;
    z-index: 111;
    
}
.menu div{
    text-align: center;
    padding: 25px;

}
}

@media only screen and (min-width: 992px) and (max-width: 1080px) {
    .navigation li{
        padding: 0px 5px ;
    }
    .login-button{
        padding: 10px !important;
        margin-left:5px
    }
}