body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
} 

code {
  font-family: 'Roboto', sans-serif;    
}

.cursor-pointer{
  cursor: pointer;
}

